################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tinytinyrenderer/v15
/Debug
/fileIO/Debug
/Application/Debug
/Application/b.tga
/Application/a.tga
/fileIO/x64/Debug
/lineAlgorithm/Debug
/lineAlgorithm/x64/Debug
/Application/x64/Debug
/math/Debug
/math/x64/Debug
/x64/Debug
/geometryFormats/x64/Debug
/triangleAlgorithm/x64/Debug
/Application/x64/Release
/geometryFormats/x64/Release
/fileIO/x64/Release
/lineAlgorithm/x64/Release
/math/x64/Release
/triangleAlgorithm/x64/Release
/x64/Release
*.tga