################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tinytinyrenderer/v15
/Debug
/fileIO/Debug
/fileIO/x64/Debug
/x64/Debug
/fileIO/x64/Release
/x64/Release
/*.tga
/*.obj
.idea/